<?xml version="1.0"?>
<launch>
  <arg name="global_map_yaml" default="$(find slam)/config/global_map.yaml"/>
  <arg name="frame_id" default="map"/>
  <arg name="marker_topic" default="/mission/markers"/>
  <arg name="marker_hz" default="1.0"/>
  <arg name="show_signboard_details" default="true"/>
  <arg name="show_visit_targets" default="true"/>
  <arg name="run_rviz" default="true"/>
  <arg name="rviz_config" default="$(find slam)/rviz/mission.rviz"/>

  <node pkg="slam" type="mission_viz_publisher.py" name="mission_viz_publisher" output="screen">
    <param name="global_map_yaml" value="$(arg global_map_yaml)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="marker_topic" value="$(arg marker_topic)"/>
    <param name="marker_hz" value="$(arg marker_hz)"/>
    <param name="show_signboard_details" value="$(arg show_signboard_details)"/>
    <param name="show_visit_targets" value="$(arg show_visit_targets)"/>
  </node>

  <node if="$(arg run_rviz)" pkg="rviz" type="rviz" name="mission_rviz"
        args="-d $(arg rviz_config)" output="screen"/>
</launch>
